body {
    font-family: 'Roboto Mono', monospace;
    background-image: url("homepage/res/img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    backdrop-filter: blur(3px);
    height: 100.7vh;
}

header {
    height: 8vh;
    padding-top: 10px;
    padding-bottom: 3px;
    justify-content: center;
    text-align: center;
    background-color: rgb(25, 26, 35);
    margin: -23px -8px 0 -10px;
}

.main_content {
    padding: 2%;
    margin: auto;
    max-width: 70%;
    background-color: rgb(36, 37, 49);
}

a {
    color: cadetblue;
    text-decoration: none;
}

.link-images {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.link-image-discord {
    width: 48px;
    height: 35px;
    margin-right: 10px;
}

.invisible-link {
    color: white;
    text-decoration: none;
}

.profile-picture {
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin-bottom: 10px;
}