body {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 16px;
}

a { /* all links */
    color: white;
    margin-left: 16px;
    font-weight: bold;
    text-decoration: none;
}

.header-img {
    width: 50px;
    height: 50px;
    display: flex;
    margin: auto;
}

.datetime {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(56, 56, 56, 0.8);
    max-width: 13%;
    min-width: 200px;
}

.time {
    font-size: 50px;
}

.links-box {
    text-align: center;
    max-width: 60%;
    min-width: 210px;
    padding: 10px 20px 10px 10px;
    margin: auto;
    background-color: rgba(56, 56, 56, 0.8);
}

.link-images {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 100ms;
}

.link-images:hover {
    background: #403e3e;
    transform: scale(1.5);
}

.main-image {
    max-width: 8.5%;
    max-height: 8.5%;
    min-width: 100px;
    min-height: 100px;
    padding: 3%;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 30px;

}

.foot {
    min-width: 100px;
    width: 100px;
    text-align: center;
    display: flex;
    margin: 10% auto auto;
    padding: 10px;
    border-radius: 30px;
    background: rgba(56, 56, 56, 0.8);
}

